ul {
   list-style:none;
}

#read {
    cursor: pointer;
}

#title-text {
    padding-top: 20px;
}

#m3u8-input-label {
    margin-top: 10px;
}

#controll-buttons {
    margin-top: 10px;
}

#badge-info {
    margin-top: 20px;    
}


#master-playlist {
    margin-top: 5px;    
    padding: 10px;
}

.badge {
    margin-right: 10px;
}

.rawdataview {
    background-color:gray;
    color:white;
    font-size:small;
    padding:10px;
}

