<h3>Master Playlist</h3>
<ul>
  {{$m3u8BaseUrl := .BaseUrl}}
  {{if .Args}}<li><span class="badge badge-info">Args</span>{{.Args}}</li>{{end}}
  {{if .CypherVersion}}<li><span class="badge badge-info">CypherVersion</span>{{.CypherVersion}}</li>{{end}}
  <li>
    <a class="rawdata" data-toggle="collapse" data-raw-url="{{.FullUrl}}" data-target-id="raw-master-m3u8" href="#raw-master-m3u8">
      <span class="badge badge-secondary need-moredata">Load Raw Data</span>
    </a>
  </li>
  
  {{$variants_len := len .Variants}}
  {{if $variants_len}}  
  <li>
    <a data-toggle="collapse" href="#variants">
      <span class="badge badge-success">{{$variants_len}} Variants</span>
    </a>    
  </li>
  <ul class="collapse" id="variants">
    {{range $index, $variant := .Variants}}
    <li><a data-toggle="collapse" href="#variant-{{$index}}"><span class="badge badge-success">Variant[{{$index}}]</span></a>{{.URI}}</li>
    <ul class="collapse" id="variant-{{$index}}">
      {{if .ProgramId}}<li><span class="badge badge-info">ProgramId</span>{{.ProgramId}}</li>{{end}}
      {{if .Bandwidth}}<li><span class="badge badge-info">Bandwidth</span>{{.Bandwidth | byteToMb}}</li>{{end}}
      {{if .Codecs}}<li><span class="badge badge-info">Codecs</span>{{.Codecs}}</li>{{end}}
      {{if .Resolution}}<li><span class="badge badge-info">Resolution</span>{{.Resolution}}</li>{{end}}
      {{if .Audio}}<li><span class="badge badge-info">Audio</span>{{.Audio}}</li>{{end}}
      {{if .Video}}<li><span class="badge badge-info">Video</span>{{.Video}}</li>{{end}}
      {{if .Subtitles}}<li><span class="badge badge-info">Subtitles</span>{{.Subtitles}}</li>{{end}}
      {{if .Captions}}<li><span class="badge badge-info">Captions</span>{{.Captions}}</li>{{end}}
      {{if .Name}}<li><span class="badge badge-info">Name</span>{{.Name}}</li>{{end}}
      {{if .Iframe}}<li><span class="badge badge-info">Iframe</span>{{.Iframe}}</li>{{end}}
      {{if .URI}}
      <li>
	<a class="variant-url" data-toggle="collapse" data-target="#mp-variant-{{$index}}" href="#mp-variant-{{$index}}">
	  <span class="badge badge-secondary need-moredata">Load Media Playlist</span>
	</a>

	<a class="rawdata" data-toggle="collapse" data-raw-url="{{$m3u8BaseUrl}}{{.URI}}" data-target-id="raw-variant-m3u8{{$index}}" href="#raw-variant-m3u8{{$index}}"> 
	  <span class="badge badge-secondary need-moredata">Load Raw Data</span>
	</a>
  
	<span class="variant-patial-url" data-target-id="variant-{{$index}}" data-item="{{$m3u8BaseUrl}}{{.URI}}" data-type="text">{{.URI}}</span>
      </li>
      {{end}}
      
      {{$alternatives_len := len .Alternatives}}
      {{if $alternatives_len}}
      <li><a data-toggle="collapse" href="#alternatives"><span class="badge badge-success">{{$alternatives_len}} Alternatives</span></a></li>      
      <ul class="collapse" id="alternatives">
	{{range $alt_index, $alternative := .Alternatives}}
	<li><a data-toggle="collapse" href="#alternative-{{$alt_index}}"><span class="badge badge-success">Alternative[{{$alt_index}}]</span></a></li>
	<ul class="collapse" id="alternative-{{$alt_index}}">
	  {{if .GroupId}}<li><span class="badge badge-info">GroupId</span>{{.GroupId}}</li>{{end}}	  
	  {{if .Type}}<li><span class="badge badge-info">Type</span>{{.Type}}</li>{{end}}	  
	  {{if .Language}}<li><span class="badge badge-info">Language</span>{{.Language}}</li>{{end}}
	  {{if .Name}}<li><span class="badge badge-info">Name</span>{{.Name}}</li>{{end}}	  
	  {{if .Default}}<li><span class="badge badge-info">Default</span>{{.Default}}</li>{{end}}
	  {{if .Autoselect}}<li><span class="badge badge-info">Autoselect</span>{{.Autoselect}}</li>{{end}}	  
	  {{if .Forced}}<li><span class="badge badge-info">Forced</span>{{.Forced}}</li>{{end}}	  	  
	  {{if .Characteristics}}<li><span class="badge badge-info">Characteristics</span>{{.Characteristics}}</li>{{end}}	  	  
	  {{if .Subtitles}}<li><span class="badge badge-info">Subtitles</span>{{.Subtitles}}</li>{{end}}
	  {{if .URI}}
	  <li>
	    <a class="alternative-url" data-toggle="collapse" data-target="#alt-{{$index}}"  href="#alt-{{$index}}">
	      <span class="badge badge-secondary need-moredata">Load Alternative URI</span>
	    </a>

	    
	    <a class="rawdata" data-toggle="collapse" data-raw-url="{{$m3u8BaseUrl}}{{.URI}}" data-target-id="alt-raw-{{$index}}" href="#alt-raw-{{$index}}">
	      <span class="badge badge-secondary need-moredata">Load Raw Data</span>
	    </a>

	    <span class="alt-patial-url" data-target-id="alt-{{$index}}" data-item="{{$m3u8BaseUrl}}{{.URI}}" data-type="text">{{.URI}}</span>	    
	    {{.URI}}
	  </li>
	  {{end}}
	</ul>
	{{end}}
      </ul>
      {{end}}      
    </ul>
    {{end}}
  </ul>
  {{end}}
</ul>
